*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bordo{
    border: 2px solid red;
}
.p-fix{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.d-flex{
    display: flex;
}
.f-ai-c{
    align-items: center;
}
.f-jc-sb{
    justify-content: space-between;
}
ul{
    list-style: none;
}
li a{
    text-decoration: none;
}
.text-cent{
    text-align: center;
}
:root {
    --primecolor:  rgb(0, 121, 248);
    --secondcolor: rgb(139, 135, 221);
  }
  
.btn{
    color: white;
    text-align: center;
    border-radius: 25px;
}
.container{
    width: 100%;
    padding: 10px 20px;
}
/* header */

.site-header{
    width: 100%;
    height: 70px;
    background-color: var(--primecolor);
}
.hamb-menu{
    font-size: 30px;
    color: white;
    padding-top: 7px;
}
.logo{
    width: 100px;
    height: 50px;
}
.logo img{
 width: 100%;
}
nav{
    display: none;
}


/* main */

.head-section{
    margin-top: 150px;
}
.head-section .container{
   width: 90%;
   margin: 0 auto;
}
.box{
    background-color: #80bcf8;
    border-radius: 5%;
    padding: 20px 10px;
    margin: 25px auto;
}
.img-box img{
    width: 300px;
    position: relative;
    top: 24px;
}
.head-section h1{
    font-size: 30px;
    margin: 15px 0;
    color: var(--primecolor);
}
.head-section p{
    font-size: 20px;
    margin: 15px 0;
}
.developement-sec i{
    font-size: 100px;
    color: var(--primecolor);
}
.head-section .btn{
    width: 150px;
    padding: 5px 0;
    background-color: var(--primecolor);
    margin: 15px 0;
    margin-left: 75px;
}

/* media-query */

/* tablet */
@media all and (min-width: 767px){
     /* main */
    .head-section{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .head-section .box:first-child{
        width: 65%;
   }
    .box{
        width: 32%;
        margin: 10px 6px;
 
    }
}


/* desktop */
@media all and (min-width: 991px){
    /* header */
    nav{
        display: block;
        padding-top: 7px;
    }
    nav a{
        color: white;
        padding: 25px 0;
        padding-right: 10px;
        font-size: 20px;
    }
    nav .btn{
        background-color: white;
        color: black;
        padding: 10px 20px;
    }
    .hamb-menu{
        display: none;
    }
    /* main */
   .head-section{
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
   }
   .head-section .box:first-child{
       width: 65%;
       display: flex;
  }
   .box{
       width: 32%;
       margin: 10px 6px;

   }
}